body{
    background-color: #f5f4d3;
    text-align: start;
}
.contactUsSection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}
.getInTouch p{
    font-family: Arial;
    font-size: 16px;
    line-height: 1.6;
    text-align: center; 
    color: grey;
}
h1{
    color:#DA4167;
}

h2{
    font-size:medium;
}
.infoSection{
    gap: 10px;
}
.info>div{
    padding: 20px;
    margin-bottom: 20px;
    background-color: beige;
    border-radius: 10px;
}
.info img{
    width: 4vh;
}
.p{
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}
.p1{
    display: flex;
    align-items: baseline;
    gap: 10px;
}
.getInTouch{
    background-color: beige;
    width: 25vw;
    height: 60vh ;
    padding: 30px ;
    border-radius: 10px;
}
.imgInfo{
    max-height: 30vh;
    border-radius: 10px;
    margin: 20px 0px;
}
form{
    max-width: 20vw;
}    
label{
    font-size: large;
    color: #2b2a2a;
}
input, textarea{

    width: 100%;
    color: rgb(36, 35, 42);
    font-size: 16px;
    line-height: 2vh;
    min-height: 2.8vh;
    border-radius: 4px;
    padding: 8px 16px;
    border: 2px solid transparent;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
    background: rgb(251, 251, 251);
    transition: all 0.1s ease 0s;
    margin: 10px 0px;
}


button{
    
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
    color: #fff;

}
@media (max-width:600px) {
    .contactUsSection{
        display: block;
        align-content: center;
    }
    input, textarea{

        width: 20vh;

    }
    .imgInfo{
        height: 23vh;
        border-radius: 10px;
        margin: 20px 0px;
    }
    .getInTouch{
        width: 60vw;
        height: 100vh;
    }
    .infoSection{
        gap: 100px;

    }
}