body{
    background-color: #f5f4d3;
}
.contactUsSection{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    height: 500px;
}
.infoSection{

}