ul{
    list-style: none;
}
.menuImages{
    border-radius: 10px;
    height: 150px;
}
.onePizza{
    max-width: 250px;
    padding: 30px;
    border-radius: 10px;
    background-color: #f5f4d3;
}
.count{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.pizzas>ul{
    display: grid;
    flex-direction: column;
    gap: 20px;
}
.ingredients ul{
    display: flex;
    justify-content: start;
}
.ingredients ul li{
    border: solid lightgray 1px;
    border-radius: 10px;
    padding: 5px;
    margin-right: 10px;
}
