ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menuImages{
    border-radius: 10px;
    height: 15vh;
}
.onePizza{
    max-width: 50vw;
    padding: 30px;
    border-radius: 10px;
    background-color: #f5f4d3;
    margin: 10px;

}
.onePizza span{
    color: #DA4167;
    font-weight:bold;
    font-size: large;
}
.count{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 20px;
}
.pizzas{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;

}
.menu-section{
    margin-bottom: 10px;
}
.ingredients ul{
    display: flex;
    justify-content: start;
}
.ingredients ul li{
    border: solid lightgray 1px;
    border-radius: 10px;
    padding: 5px;
    margin-right: 10px;
}
.mainContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContainer img{
  height: 50vh;
}
/* Btn CSS */
.Btn {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#63a670, #689b6c);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 18px;
  height: 52px;
  justify-content: center;
  line-height: 1;
  margin-top: 20px;
  outline: none;
  overflow: hidden;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.count p{
    font-size: 20px;
}
.Btn:hover {
  box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
  opacity: .85;
}

.Btn:active {
  outline: 0;
}

.Btn:focus {
  box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}

.Plus{
    font-weight: bold;
    font-size: 16px;
    height: 48px;
    width: 48px;
}

@media (max-width:600px) {

  .button-84 {
    height: 48px;
  }
  .mainContainer {
    display: block;
  }
  .mainContainer img{
    display: none;
  }
  .onePizza{
    max-width: 400px;
    padding: 30px;
    border-radius: 10px;
    background-color: #f5f4d3;
    margin: 10px;

}
}
@media (max-width:400px) {
  .button-84 {
    height: 48px;
  }
  .mainContainer {
    display: block;
  }
  .mainContainer img{
    display: none;
  }
  .onePizza{
    max-width: 180px;
    padding: 30px;
    border-radius: 10px;
    background-color: #f5f4d3;
    margin: 10px;

}

}