body{
    font-family: sans-serif;
    text-align: center;
}
.logo-image{
    width: 50px;
    height: 50px;
}
.main-navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
nav ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav li{
    margin-right: 20px;
}
nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}
.hero-image{
    width: 100vw;
}

.hero-text{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);/* center text precisely */
    color: white;
    text-align: center;
}

.hero-text button{
    font-size: 42px;
    padding: 25px;
    line-height: 1.2;
    background-color: rgb(221, 208, 86);
    border-radius: 20px;
}
.hero-text button:hover{
    font-size: 42px;
    padding: 25px;
    line-height: 1.2;
    background-color: rgb(248, 228, 46);
    border-radius: 20px;
}
.info-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.info-section div > img{
    height: 64px;
    width: 64px;
}
.MsNobody img{
    height: 64px;
    width: 64px;
}
.info-section div > p{
    font-weight: bold;
    color:#333;
}

.info-section div{
    width: 100vw;
    margin-top: 20px ;
    margin-bottom: 20px ;
    padding: 50px;
    background-color: #f5f4d3;
    border-radius: 20px;
}
.footer{
    background-color: #c3f144;
    padding: 0;
    margin: 0;
}
.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 20px;
    font-weight: bold;
    color:#333
}

.MsNobody  {
    border-radius: 20px;
    background-color: #f5f4d3;
    padding:20px;
    padding-right:80px ;
    font-size:20px;
    margin-top: 20px;

}
.aboutUs-section p img{
    height: 10vh;
    padding: 10px;
}

.MsNobody ul{
    display: grid;
    
}